*,
*::before,
*::after{
    box-sizing: border-box;
}

body{
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}
img{
    display: block;
}
h2,h3{
    padding: 0;
    margin: 0;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
p{
    margin: 0;
padding: 0;
}

.style-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
    
    
}
.container{
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px 0 15px;
    
}
.header-wrap{
    display: flex;
    align-items: center;
    
}
.navigacion{
    display: flex;
    align-items:center;
    margin-right: auto;

}

.style-logo{
    font-family:"Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    margin-right: 76px;
    color: #404bbf;
}
.new{
    position: relative;
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.new ::after{
    content: "";
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
    
}
/* .underline{
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */
.secend_pice_logo{
    color:#2e2f42;
}
.menu-navigacion{
    display: flex;
    gap: 40px;
}

.link_logo{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #404bbf;
    text-decoration: none;
    padding: 24px 0;
    display: block;
    transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link_logo:hover,
.link_logo:focus
{
    color: #404bbf;
    cursor: pointer;
}
.link_logo:active
{
    color: #404bbf;
    cursor: pointer;
}
.contacts{
    font-style: normal;
}
.menu_adress{
    display: flex;
    gap: 40px;
    justify-content: right;
}
.contacts_link{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts_link:hover,
.contacts_link:focus
{
    color: #404bbf;
    cursor: pointer;
}
.contacts_link:active{
    color: #404bbf;
    cursor: pointer;
}


.container-first-section{
    padding: 188px 0;
    display: flex; 
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../images/peopleoffice.jpg);

}
.first-section{
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/peopleoffice.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1440px;
    padding: 188px 0;
    margin: auto;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.style_hfirst{
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    max-width: 496px;
    margin: 0 auto;
    margin-bottom: 48px;
    width: calc((100% - 72px) / 4);
}
.style-button{
    background-color: #4d5ae5;
    font-family:"Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
.style-button:hover,
.style-button:focus{
    background-color: #404bbf;
    cursor: pointer;
}
.style-button:active{
    background-color: #404bbf;
    cursor: pointer;
}
.style_name{
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    text-align: center;
    margin-bottom: 8px;
    
}


.style-acapit{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
    margin-bottom: 8px;
    
}

.container-section-two{
    padding: 120px 0;
}
.visually-hidden{
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
}
.list-section-two{
    display: flex;
    gap: 24px;
}

.icons{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
}

.icon {
    position: relative;
}

.items-section-two{
    flex-basis: calc((100% - 3 * 24px) / 4);
    border-radius: 0px 0px 4px 4px;
    
}
.thirth_section{
    background:#F4F4FD;
    padding: 120px 0;
    border-radius: 0px 0px 4px 4px;

}

.list-thirt-section{
    display: flex;
    gap: 24px;
    padding:32px 16px;
}

.container-name{
padding: 32px 0px;
border: 1px solid #e7e9fc;
border-radius: 0px 0px 4px 4px;
}

.media-container{
    display: flex;
    justify-content: center;
    gap: 24px;
    padding: 8px 16px 0 16x;
}
/* okrag */
.list-media{
    border-radius: 50%;
    background-color: #4d5ae5;
    width: 40px;
    height: 40px;
    list-style: none;
    place-content: center;
}

.icons-media{
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    fill: #f4f4fd;
    }

.icons-media:hover{
        background-color: #404bbf;
    }
.icons-media:focus{
    background-color: #404bbf;
    }
.color_list {
    background-color: #FFFFFF;
    display: block;
    gap: 24px;
    margin: 0 auto;
    margin-bottom: 48px;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);

}
/* section 4 */
.style_htherd {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    /* text-align: center; */
    margin-bottom: 8px;

}
 .style-section {
     padding: 120px 0 120px 0;

 }
.style-acapit-portfolio {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    /* text-align: center; */
    margin-bottom: 8px;

}
 .thirt-section-hsecend{
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;

}
.items-section-four {
    width: calc((100% - 48px) / 3);
    margin: 0 auto;
}

.list-section-four .slider{
    list-style: none;
    /* display: flex; */
    flex-wrap: wrap;
    row-gap: 24px;
    row-gap: 48px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.items-section-four:hover {
    box-shadow: 0px 2px 1px 0px #2E2F4214,
    0px 1px 1px 0px #2E2F4229,
    0px 1px 6px 0px #2E2F4214;
}

.slider:hover .overlay,
.slider:focus .overlay {
    transform: translateY(0%);
}

.category {
    position: relative;
    overflow: hidden;

}
.items-section {
    display: flex;
    list-style: none;
    gap: 24px;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    
}

.parrent-style {
    padding: 32px 16px;
    border: 1px solid #E7E9FC;
    border-top: none;
}


/* Footer  */

.footer-container {
    display: flex;
    align-items: baseline;
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px 0 15px;
}

.footer-left {
    margin-right: 120px;
    padding: 0 15px;
}

.footer-bground {
    background-color: #2E2F42;
    padding: 100px 0;
}

/* .footer-cont {
    display: inline-block;
} */

.studio-second {
    color: #f4f4fd;
}

.footer-logo {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-decoration: none;
    text-transform: uppercase;
    color: #4D5AE5;
    display: inline-block;
    margin-bottom: 16px;
}

.footer-p {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #F4F4FD;
    max-width: 264px;
}

.footer-social-p {
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
    margin-bottom: 16px;
}

.circle-container-footer {
    display: flex;
    gap: 16px;
  
}

.icons-footer {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
    width: 40px;
    height: 40px;
}

.icons-footer:hover,
.icons-footer:focus,
.icons-footer:active {
    background-color: #31d0aa;
}

.advantages-icon-footer {
    fill: #f4f4fd;
}


